# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
venv/
*.egg-info/
.env

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# IDEs and editors
.idea/
.vscode/

# Miscellaneous
*.bak
*.swp
*~
